old/vnm-selfcare-webapps-mega2-master/vnm-selfcare-core-2.0/src/test/resources/wsdl/Tibco.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL -->
<wsdl:definitions
	xmlns:ns6="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd3"
	xmlns:ns5="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubcriberQuery_Response.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1491473061728"
	xmlns:ns0="http://www.tibco.com/schemas/HCPT_PROJECT_01042014/Shared_Resources/Schema/XML/EAI/Schema.xsd6"
	xmlns:ns2="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd13"
	xmlns:ns1="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd12"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns4="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubscriberQuery.xsd"
	xmlns:ns3="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd4"
	name="Untitled" targetNamespace="http://xmlns.example.com/1491473061728">
	<wsdl:types>
		<xs:schema
			xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubscriberQuery.xsd"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubscriberQuery.xsd"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="MSISDN" type="xs:string" />
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns4:MSISDN" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema
			xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubcriberQuery_Response.xsd"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubcriberQuery_Response.xsd"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
			<xs:element name="ACCOUNT_STATUS" type="xs:string" />
			<xs:element name="ACTIVATION_DATE" type="xs:string" />
			<xs:element name="CALL_PLAN" type="xs:string" />
			<xs:element name="CUSTOMER_STATUS" type="xs:string" />
			<xs:element name="DATA_BALANCE" type="xs:string" />
			<xs:element name="DATA_NIGHT_BALANCE" type="xs:string" />
			<xs:element name="EBILL_MAIL_ID" type="xs:string" />
			<xs:element name="FORFEITED_DATE" type="xs:string" />
			<xs:element name="IMSI" type="xs:string" />
			<xs:element name="LAST_CALL_AMOUNT" type="xs:string" />
			<xs:element name="LIFECYCLE_STATUS" type="xs:string" />
			<xs:element name="MAIN_ACCOUNT_BALANCE" type="xs:string" />
			<xs:element name="MsgParam">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AttribDtl" minOccurs="0"
										maxOccurs="unbounded">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="Name" type="xs:string" />
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NOTIFICATION_ID" type="xs:string" />
			<xs:element name="OFFER_NAME" type="xs:string" />
			<xs:element name="OFFNET_BAL" type="xs:string" />
			<xs:element name="ONNET_BAL" type="xs:string" />
			<xs:element name="OUTPUT_1" type="xs:string" />
			<xs:element name="OUTPUT_2" type="xs:string" />
			<xs:element name="OUTPUT_3" type="xs:string" />
			<xs:element name="OUTPUT_4" type="xs:string" />
			<xs:element name="PAYMENT_TYPE" type="xs:string" />
			<xs:element name="PROMOTION_CODE" type="xs:string" />
			<xs:element name="REGISTRATION_DATE" type="xs:string" />
			<xs:element name="RESTRICTED_DATE" type="xs:string" />
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns5:ACCOUNT_NUMBER" minOccurs="0" />
						<xs:element ref="ns5:RESTRICTED_DATE" minOccurs="0" />
						<xs:element ref="ns5:FORFEITED_DATE" minOccurs="0" />
						<xs:element ref="ns5:TERMINATED_DATE" minOccurs="0" />
						<xs:element ref="ns5:LAST_CALL_AMOUNT" minOccurs="0" />
						<xs:element ref="ns5:SOURCE_ID" minOccurs="0" />
						<xs:element ref="ns5:NOTIFICATION_ID" minOccurs="0" />
						<xs:element ref="ns5:DATA_BALANCE" minOccurs="0" />
						<xs:element ref="ns5:DATA_NIGHT_BALANCE" minOccurs="0" />
						<xs:element ref="ns5:LIFECYCLE_STATUS" minOccurs="0" />
						<xs:element ref="ns5:ACCOUNT_STATUS" minOccurs="0" />
						<xs:element ref="ns5:MAIN_ACCOUNT_BALANCE" minOccurs="0" />
						<xs:element ref="ns5:ONNET_BAL" minOccurs="0" />
						<xs:element ref="ns5:OFFNET_BAL" minOccurs="0" />
						<xs:element ref="ns5:SUBSCRIPTION_NUMBER" minOccurs="0" />
						<xs:element ref="ns5:CALL_PLAN" minOccurs="0" />
						<xs:element ref="ns5:SIM" minOccurs="0" />
						<xs:element ref="ns5:IMSI" minOccurs="0" />
						<xs:element ref="ns5:CUSTOMER_STATUS" minOccurs="0" />
						<xs:element ref="ns5:ACTIVATION_DATE" minOccurs="0" />
						<xs:element ref="ns5:REGISTRATION_DATE" minOccurs="0" />
						<xs:element ref="ns5:PROMOTION_CODE" minOccurs="0" />
						<xs:element ref="ns5:PAYMENT_TYPE" minOccurs="0" />
						<xs:element ref="ns5:EBILL_MAIL_ID" minOccurs="0" />
						<xs:element ref="ns5:OUTPUT_1" minOccurs="0" />
						<xs:element ref="ns5:OUTPUT_2" minOccurs="0" />
						<xs:element ref="ns5:OUTPUT_3" minOccurs="0" />
						<xs:element ref="ns5:OUTPUT_4" minOccurs="0" />
						<xs:element ref="ns5:Status_Code" />
						<xs:element ref="ns5:Status_Text" />
						<xs:element ref="ns5:MsgParam" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SIM" type="xs:string" />
			<xs:element name="SOURCE_ID" type="xs:string" />
			<xs:element name="STATUS" type="xs:string" />
			<xs:element name="STATUS_TEXT" type="xs:string" />
			<xs:element name="SUBSCRIPTION_NUMBER" type="xs:string" />
			<xs:element name="Status_Code" type="xs:string" />
			<xs:element name="Status_Text" type="xs:string" />
			<xs:element name="TERMINATED_DATE" type="xs:string" />
		</xs:schema>
		<xs:schema
			xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd3"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd3"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="VoucherHistory">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionID" type="xs:string" />
						<xs:element name="MobNum" type="xs:string" minOccurs="0" />
						<xs:element name="Start_Date" type="xs:string"
							minOccurs="0" />
						<xs:element name="End_Date" type="xs:string" minOccurs="0" />
						<xs:element name="Account_Number" type="xs:string"
							minOccurs="0" />
						<xs:element name="Voucher_ID" type="xs:string"
							minOccurs="0" />
						<xs:element name="Status" type="xs:string" minOccurs="0" />
						<xs:element name="Status_Text" type="xs:string"
							minOccurs="0" />
						<xs:element name="VoucherList" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VoucherItems" minOccurs="0"
										maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Top_Up_Type" type="xs:string"
													minOccurs="0" />
												<xs:element name="Top_Up_Date" type="xs:string"
													minOccurs="0" />
												<xs:element name="Voucher_Money" type="xs:string"
													minOccurs="0" />
												<xs:element name="Source_Request" type="xs:string"
													minOccurs="0" />
												<xs:element name="Voucher_Active_End_Date" type="xs:string"
													minOccurs="0" />
												<xs:element name="Voucher_Grace_End_Date" type="xs:string"
													minOccurs="0" />
												<xs:element name="Payment_Ref_Number" type="xs:string"
													minOccurs="0" />
												<xs:element name="Reversal_Flag" type="xs:string"
													minOccurs="0" />
												<xs:element name="Net_Top_Up_Money" type="xs:string"
													minOccurs="0" />
												<xs:element name="Bonus_Amount" type="xs:string"
													minOccurs="0" />
												<xs:element name="Top_Up_Status" type="xs:string"
													minOccurs="0" />
												<xs:element name="MSISDN" type="xs:string"
													minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema
			xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd4"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd4"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="VoucherTopUp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionID" type="xs:string" />
						<xs:element name="MessageType" type="xs:string" />
						<xs:element name="ProcCode" type="xs:string" />
						<xs:element name="STAN" type="xs:string" />
						<xs:element name="LocalTxnDtTime" type="xs:string" />
						<xs:element name="MobNum" type="xs:string" />
						<xs:element name="VoucherNum" type="xs:string" />
						<xs:element name="DomainID" type="xs:string" minOccurs="0" />
						<xs:element name="DeliveryChannelCtrlID" type="xs:string" />
						<xs:element name="ActCode" type="xs:string" />
						<xs:element name="Curr" type="xs:string" />
						<xs:element name="VoucherBal" type="xs:string" />
						<xs:element name="ValidityDate" type="xs:string" />
						<xs:element name="GraceDate" type="xs:string"
							minOccurs="0" />
						<xs:element name="GracePeriod" type="xs:string" />
						<xs:element name="AddonBalance" type="xs:string"
							minOccurs="0" />
						<xs:element name="BonusBal" type="xs:string" minOccurs="0" />
						<xs:element name="VoucherDenom" type="xs:string" />
						<xs:element name="MessageID" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="LanguageID" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="Priority" type="xs:string" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="BusinessHourIndicator" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="VlrId" type="xs:string" minOccurs="0" />
						<xs:element name="CellId" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema
			xmlns="http://www.tibco.com/schemas/HCPT_PROJECT_01042014/Shared_Resources/Schema/XML/EAI/Schema.xsd6"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/HCPT_PROJECT_01042014/Shared_Resources/Schema/XML/EAI/Schema.xsd6"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="UsageDetailsQueryReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DATE" type="xs:string" />
						<xs:element name="EVENT_TYPE" type="xs:string"
							minOccurs="0" />
						<xs:element name="MSISDN" type="xs:string" />
						<xs:element name="ACCOUNT_NUMBER" type="xs:string"
							minOccurs="0" />
						<xs:element name="SOURCE" type="xs:string" />
						<xs:element name="FROM_DATE" type="xs:string"
							minOccurs="0" />
						<xs:element name="TO_DATE" type="xs:string" minOccurs="0" />
						<xs:element name="SUB_TYPE" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UsageDetailsQueryRes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UsageDetails" minOccurs="0"
							maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="UsageItem" minOccurs="0"
										maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EventType" type="xs:string"
													minOccurs="0" />
												<xs:element name="EventCategory" type="xs:string"
													minOccurs="0" />
												<xs:element name="HomeZoneID" type="xs:string"
													minOccurs="0" />
												<xs:element name="RoutingType" type="xs:string"
													minOccurs="0" />
												<xs:element name="RoamingIndicator" type="xs:string"
													minOccurs="0" />
												<xs:element name="HomeZone" type="xs:string"
													minOccurs="0" />
												<xs:element name="EventDate" type="xs:string"
													minOccurs="0" />
												<xs:element name="Duration" type="xs:string"
													minOccurs="0" />
												<xs:element name="Volume" type="xs:string"
													minOccurs="0" />
												<xs:element name="A_PartyNumber" type="xs:string"
													minOccurs="0" />
												<xs:element name="B_PartyNumber" type="xs:string"
													minOccurs="0" />
												<xs:element name="TimeBand" type="xs:string"
													minOccurs="0" />
												<xs:element name="A_PartyLocation" type="xs:string"
													minOccurs="0" />
												<xs:element name="B_PartyLocation" type="xs:string"
													minOccurs="0" />
												<xs:element name="PreDiscountCost" type="xs:double"
													minOccurs="0" />
												<xs:element name="PostDiscountCost" type="xs:double"
													minOccurs="0" />
												<xs:element name="DiscountAmount" type="xs:string"
													minOccurs="0" />
												<xs:element name="DiscountID" type="xs:string"
													minOccurs="0" />
												<xs:element name="RoundedDuration" type="xs:string"
													minOccurs="0" />
												<xs:element name="PreCallBalance" type="xs:double"
													minOccurs="0" />
												<xs:element name="PostCallBalance" type="xs:double"
													minOccurs="0" />
												<xs:element name="ContentID" type="xs:string"
													minOccurs="0" />
												<xs:element name="FlagCallCharge" type="xs:double"
													minOccurs="0" />
												<xs:element name="MSISDN" type="xs:string"
													minOccurs="0" />
												<xs:element name="AccountNumber" type="xs:string"
													minOccurs="0" />
												<xs:element name="CallPlan" type="xs:string"
													minOccurs="0" />
												<xs:element name="ChargingID" type="xs:string"
													minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="StatusCode" type="xs:string" />
						<xs:element name="StatusText" type="xs:string"
							minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema
			xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd13"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd13"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="ActCode" type="xs:string" />
			<xs:element name="CurrentBal" type="xs:string" />
			<xs:element name="EtopUp_Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns2:MessageType" minOccurs="0" />
						<xs:element ref="ns2:ActCode" minOccurs="0" />
						<xs:element ref="ns2:CurrentBal" minOccurs="0" />
						<xs:element ref="ns2:ValidityDate" minOccurs="0" />
						<xs:element ref="ns2:GraceDate" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GraceDate" type="xs:string" />
			<xs:element name="MessageType" type="xs:string" />
			<xs:element name="ValidityDate" type="xs:string" />
		</xs:schema>
		<xs:schema
			xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd12"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd12"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="AddonBalance" type="xs:string" />
			<xs:element name="BonusBal" type="xs:string" />
			<xs:element name="Currency" type="xs:string" />
			<xs:element name="DeliveryChannelCtrlID" type="xs:string" />
			<xs:element name="EtopUp_Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns1:MessageType" minOccurs="0" />
						<xs:element ref="ns1:DeliveryChannelCtrlID" minOccurs="0" />
						<xs:element ref="ns1:ProcCode" minOccurs="0" />
						<xs:element ref="ns1:STAN" minOccurs="0" />
						<xs:element ref="ns1:LocalTxnDtTime" minOccurs="0" />
						<xs:element ref="ns1:MobNum" minOccurs="0" />
						<xs:element ref="ns1:Currency" minOccurs="0" />
						<xs:element ref="ns1:ValidityDays" minOccurs="0" />
						<xs:element ref="ns1:GracePeriod" minOccurs="0" />
						<xs:element ref="ns1:OriginalAmount" minOccurs="0" />
						<xs:element ref="ns1:TopUpAmount" minOccurs="0" />
						<xs:element ref="ns1:AddonBalance" minOccurs="0" />
						<xs:element ref="ns1:BonusBal" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GracePeriod" type="xs:string" />
			<xs:element name="LocalTxnDtTime" type="xs:string" />
			<xs:element name="MessageType" type="xs:string" />
			<xs:element name="MobNum" type="xs:string" />
			<xs:element name="OriginalAmount" type="xs:string" />
			<xs:element name="ProcCode" type="xs:string" />
			<xs:element name="STAN" type="xs:string" />
			<xs:element name="TopUpAmount" type="xs:string" />
			<xs:element name="ValidityDays" type="xs:string" />
		</xs:schema>
	</wsdl:types>
	<wsdl:service name="Selfcare_Inbound">
		<wsdl:port name="SelfcareInbound" binding="tns:SelfcareInboundBinding">
			<soap:address location="http://localhost:45010/Business_Process/Selfcare" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:portType name="SelfcareInbound">
		<wsdl:operation name="UsageHistory">
			<wsdl:input message="tns:UsageHistoryRequest" />
			<wsdl:output message="tns:UsageHistoryResponse" />
		</wsdl:operation>
		<wsdl:operation name="Etopup_Selfcare">
			<wsdl:input message="tns:Etopup_Selfcare_Request" />
			<wsdl:output message="tns:Etopup_Seflcare_Response" />
		</wsdl:operation>
		<wsdl:operation name="VoucherTopUp">
			<wsdl:input message="tns:VoucherTopUpRequest" />
			<wsdl:output message="tns:VoucherTopUpResponse" />
		</wsdl:operation>
		<wsdl:operation name="SubscriberQuery">
			<wsdl:input message="tns:SubscriberQuery_Request" />
			<wsdl:output message="tns:SubscriberQuery_Response" />
		</wsdl:operation>
		<wsdl:operation name="TopupHistory">
			<wsdl:input message="tns:TopUpHistoryRequest" />
			<wsdl:output message="tns:TopUpHistoryResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SelfcareInboundBinding" type="tns:SelfcareInbound">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="UsageHistory">
			<soap:operation style="document"
				soapAction="/Business_Process/Selfcare/UsageHistory" />
			<wsdl:input>
				<soap:body use="literal" parts="UsageHistoryRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="UsageHistoryResponse" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Etopup_Selfcare">
			<soap:operation style="document"
				soapAction="/Business_Process/Selfcare/Etopup_Selfcare" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VoucherTopUp">
			<soap:operation style="document"
				soapAction="/Business_Process/Selfcare/VoucherTopUp" />
			<wsdl:input>
				<soap:body use="literal" parts="VoucherTopUpRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="VoucherTopUpResponse" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscriberQuery">
			<soap:operation style="document"
				soapAction="/Business_Process/Selfcare/SubscriberQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TopupHistory">
			<soap:operation style="document"
				soapAction="/Business_Process/Selfcare/TopupHistory" />
			<wsdl:input>
				<soap:body use="literal" parts="TopUpHistoryRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="TopUpHistoryResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:message name="UsageHistoryRequest">
		<wsdl:part name="UsageHistoryRequest" element="ns0:UsageDetailsQueryReq" />
	</wsdl:message>
	<wsdl:message name="UsageHistoryResponse">
		<wsdl:part name="UsageHistoryResponse" element="ns0:UsageDetailsQueryRes" />
	</wsdl:message>
	<wsdl:message name="Etopup_Selfcare_Request">
		<wsdl:part name="part1" element="ns1:EtopUp_Request" />
	</wsdl:message>
	<wsdl:message name="Etopup_Seflcare_Response">
		<wsdl:part name="part1" element="ns2:EtopUp_Response" />
	</wsdl:message>
	<wsdl:message name="VoucherTopUpRequest">
		<wsdl:part name="VoucherTopUpRequest" element="ns3:VoucherTopUp" />
	</wsdl:message>
	<wsdl:message name="VoucherTopUpResponse">
		<wsdl:part name="VoucherTopUpResponse" element="ns3:VoucherTopUp" />
	</wsdl:message>
	<wsdl:message name="SubscriberQuery_Request">
		<wsdl:part name="part1" element="ns4:Request" />
	</wsdl:message>
	<wsdl:message name="SubscriberQuery_Response">
		<wsdl:part name="part1" element="ns5:Response" />
	</wsdl:message>
	<wsdl:message name="TopUpHistoryRequest">
		<wsdl:part name="TopUpHistoryRequest" element="ns6:VoucherHistory" />
	</wsdl:message>
	<wsdl:message name="TopUpHistoryResponse">
		<wsdl:part name="TopUpHistoryResponse" element="ns6:VoucherHistory" />
	</wsdl:message>
</wsdl:definitions>