old/vnm-selfcare-webapps-mega2-master/resources/wsdl/Tibco.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL -->
<wsdl:definitions xmlns:ns0="http://www.tibco.com/schemas/HCPT_PROJECT_01042014/Shared_Resources/Schema/XML/EAI/Schema.xsd6"
	xmlns:ns2="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd22" xmlns:ns1="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd21"
	xmlns:ns4="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd13" xmlns:ns3="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd12"
	xmlns:ns6="http://www.tibco.com/schemas/24_NOV_SIT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd" xmlns:ns5="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Abstract_Wsdl/Selfcare/Schema.xsd"
	xmlns:ns8="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns7="http://www.tibco.com/schemas/28_NOV_SIT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd" xmlns:ns13="http://www.tibco.com/schemas/VNM_PROJECT_UAT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd"
	xmlns:ns9="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubscriberQuery.xsd" xmlns:ns12="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd16"
	xmlns:ns11="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/postpaidPayment_Request.xsd16" xmlns:ns10="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubcriberQuery_Response.xsd"
	xmlns:tns="http://xmlns.example.com/1491473061728" xmlns:ns17="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd3"
	xmlns:ns16="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd26" xmlns:ns15="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd25"
	xmlns:ns14="http://www.tibco.com/schemas/VNM_PROJECT_UAT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	name="Untitled" targetNamespace="http://xmlns.example.com/1491473061728">
	<wsdl:types>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubscriberQuery.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubscriberQuery.xsd" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="MSISDN" type="xs:string" />
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns9:MSISDN" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/28_NOV_SIT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/28_NOV_SIT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionId" type="xs:string" minOccurs="0" />
						<xs:element name="Msisdn" type="xs:string" minOccurs="0" />
						<xs:element name="LocalTxnDtTime" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Total_Due" type="xs:string" minOccurs="0" />
						<xs:element name="Monthly_3G_Charge" type="xs:string" minOccurs="0" />
						<xs:element name="Monthly_Charge" type="xs:string" minOccurs="0" />
						<xs:element name="Detailed_Usage_Free" type="xs:string" minOccurs="0" />
						<xs:element name="Unbilled_Usage" type="xs:string" minOccurs="0" />
						<xs:element name="Discount" type="xs:string" minOccurs="0" />
						<xs:element name="Usage_variance" type="xs:string" minOccurs="0" />
						<xs:element name="Total_Adjustment" type="xs:string" minOccurs="0" />
						<xs:element name="Others_Adjustments" type="xs:string" minOccurs="0" />
						<xs:element name="Balance_Transfer_Amount" type="xs:string" minOccurs="0" />
						<xs:element name="Transfer_Fee" type="xs:string" minOccurs="0" />
						<xs:element name="Total_VAT" type="xs:string" minOccurs="0" />
						<xs:element name="Other_VAT" type="xs:string" minOccurs="0" />
						<xs:element name="Status" type="xs:string" minOccurs="0" />
						<xs:element name="Status_Text" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd3" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="VoucherHistory">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionID" type="xs:string" />
						<xs:element name="MobNum" type="xs:string" minOccurs="0" />
						<xs:element name="Start_Date" type="xs:string" minOccurs="0" />
						<xs:element name="End_Date" type="xs:string" minOccurs="0" />
						<xs:element name="Account_Number" type="xs:string" minOccurs="0" />
						<xs:element name="Voucher_ID" type="xs:string" minOccurs="0" />
						<xs:element name="Status" type="xs:string" minOccurs="0" />
						<xs:element name="Status_Text" type="xs:string" minOccurs="0" />
						<xs:element name="VoucherList" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VoucherItems" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Top_Up_Type" type="xs:string" minOccurs="0" />
												<xs:element name="Top_Up_Date" type="xs:string" minOccurs="0" />
												<xs:element name="Voucher_Money" type="xs:string" minOccurs="0" />
												<xs:element name="Source_Request" type="xs:string" minOccurs="0" />
												<xs:element name="Voucher_Active_End_Date" type="xs:string" minOccurs="0" />
												<xs:element name="Voucher_Grace_End_Date" type="xs:string" minOccurs="0" />
												<xs:element name="Payment_Ref_Number" type="xs:string" minOccurs="0" />
												<xs:element name="Reversal_Flag" type="xs:string" minOccurs="0" />
												<xs:element name="Net_Top_Up_Money" type="xs:string" minOccurs="0" />
												<xs:element name="Bonus_Amount" type="xs:string" minOccurs="0" />
												<xs:element name="Top_Up_Status" type="xs:string" minOccurs="0" />
												<xs:element name="MSISDN" type="xs:string" minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd4" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd4" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="VoucherTopUp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionID" type="xs:string" />
						<xs:element name="MessageType" type="xs:string" />
						<xs:element name="ProcCode" type="xs:string" />
						<xs:element name="STAN" type="xs:string" />
						<xs:element name="LocalTxnDtTime" type="xs:string" />
						<xs:element name="MobNum" type="xs:string" />
						<xs:element name="VoucherNum" type="xs:string" />
						<xs:element name="DomainID" type="xs:string" minOccurs="0" />
						<xs:element name="DeliveryChannelCtrlID" type="xs:string" />
						<xs:element name="ActCode" type="xs:string" />
						<xs:element name="Curr" type="xs:string" />
						<xs:element name="VoucherBal" type="xs:string" />
						<xs:element name="ValidityDate" type="xs:string" />
						<xs:element name="GraceDate" type="xs:string" minOccurs="0" />
						<xs:element name="GracePeriod" type="xs:string" />
						<xs:element name="AddonBalance" type="xs:string" minOccurs="0" />
						<xs:element name="BonusBal" type="xs:string" minOccurs="0" />
						<xs:element name="VoucherDenom" type="xs:string" />
						<xs:element name="MessageID" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="LanguageID" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="Priority" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="BusinessHourIndicator" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="VlrId" type="xs:string" minOccurs="0" />
						<xs:element name="CellId" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd26" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd26" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="Amount" type="xs:string" />
			<xs:element name="Amount_Paid" type="xs:string" />
			<xs:element name="Balance_Brought_Forward" type="xs:string" />
			<xs:element name="Balance_Due" type="xs:string" />
			<xs:element name="Bill_Date" type="xs:string" />
			<xs:element name="Bill_Due_Date" type="xs:string" />
			<xs:element name="Bill_History">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns16:Bill_Date" />
						<xs:element ref="ns16:Amount" />
						<xs:element ref="ns16:Bill_Status" />
						<xs:element ref="ns16:Payment_Status" />
						<xs:element ref="ns16:Amount_Paid" />
						<xs:element ref="ns16:Balance_Brought_Forward" />
						<xs:element ref="ns16:Balance_Due" />
						<xs:element ref="ns16:Bill_Due_Date" />
						<xs:element ref="ns16:Bill_Type" />
						<xs:element ref="ns16:Invoice_Image_Path" />
						<xs:element ref="ns16:Invoice_Number" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Bill_Status" type="xs:string" />
			<xs:element name="Bill_Type" type="xs:string" />
			<xs:element name="Invoice_Image_Path" type="xs:string" />
			<xs:element name="Invoice_Number" type="xs:string" />
			<xs:element name="Payment_Status" type="xs:string" />
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns16:Bill_History" minOccurs="0" maxOccurs="unbounded" />
						<xs:element ref="ns16:Status" minOccurs="0" />
						<xs:element ref="ns16:Status_Text" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="xs:string" />
			<xs:element name="Status_Text" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd25" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd25" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="AccountNumber" type="xs:string" />
			<xs:element name="LocalTxnDtTime" type="xs:string" />
			<xs:element name="MSISDN" type="xs:string" />
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns15:MSISDN" minOccurs="0" />
						<xs:element ref="ns15:AccountNumber" minOccurs="0" />
						<xs:element ref="ns15:LocalTxnDtTime" minOccurs="0" />
						<xs:element ref="ns15:TransactionId" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransactionId" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd22" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd22" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="Amount" type="xs:string" />
			<xs:element name="Applied_Date" type="xs:string" />
			<xs:element name="Created_Date" type="xs:string" />
			<xs:element name="Payment_Details">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns2:Payment_Type_Name" minOccurs="0" />
						<xs:element ref="ns2:Payment_Recieved_Date" minOccurs="0" />
						<xs:element ref="ns2:Amount" minOccurs="0" />
						<xs:element ref="ns2:Created_Date" minOccurs="0" />
						<xs:element ref="ns2:Applied_Date" minOccurs="0" />
						<xs:element ref="ns2:Payment_Id" minOccurs="0" />
						<xs:element ref="ns2:Payment_Method_Name" minOccurs="0" />
						<xs:element ref="ns2:Payment_Txt" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Payment_Id" type="xs:string" />
			<xs:element name="Payment_Method_Name" type="xs:string" />
			<xs:element name="Payment_Recieved_Date" type="xs:string" />
			<xs:element name="Payment_Txt" type="xs:string" />
			<xs:element name="Payment_Type_Name" type="xs:string" />
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns2:Payment_Details" minOccurs="0" maxOccurs="unbounded" />
						<xs:element ref="ns2:Status" minOccurs="0" />
						<xs:element ref="ns2:Status_Text" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="xs:string" />
			<xs:element name="Status_Text" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd21" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd21" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="Account_Number" type="xs:string" />
			<xs:element name="From_Date" type="xs:string" />
			<xs:element name="LocalTxnDtTime" type="xs:string" />
			<xs:element name="MSISDN" type="xs:string" />
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns1:Account_Number" />
						<xs:element ref="ns1:From_Date" minOccurs="0" />
						<xs:element ref="ns1:MSISDN" minOccurs="0" />
						<xs:element ref="ns1:TransactionId" minOccurs="0" />
						<xs:element ref="ns1:LocalTxnDtTime" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransactionId" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd13" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd13" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="ActCode" type="xs:string" />
			<xs:element name="CurrentBal" type="xs:string" />
			<xs:element name="Customer_Type" type="xs:string" />
			<xs:element name="EtopUp_Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns4:MessageType" minOccurs="0" />
						<xs:element ref="ns4:ActCode" minOccurs="0" />
						<xs:element ref="ns4:CurrentBal" minOccurs="0" />
						<xs:element ref="ns4:ValidityDate" minOccurs="0" />
						<xs:element ref="ns4:GraceDate" minOccurs="0" />
						<xs:element ref="ns4:Customer_Type" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GraceDate" type="xs:string" />
			<xs:element name="MessageType" type="xs:string" />
			<xs:element name="ValidityDate" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/24_NOV_SIT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/24_NOV_SIT/Shared_Resources/Schema/XML/Selfcare/Schema.xsd" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MSISDN" type="xs:string" />
						<xs:element name="SourceId" type="xs:string" />
						<xs:element name="LocalTxnDtTime" type="xs:string" minOccurs="0" />
						<xs:element name="TransactionId" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Account_Status" type="xs:string" minOccurs="0" />
						<xs:element name="Bill_Cycle" type="xs:string" minOccurs="0" />
						<xs:element name="Last_Billing_Date" type="xs:string" minOccurs="0" />
						<xs:element name="Payment_Due_Date" type="xs:string" minOccurs="0" />
						<xs:element name="Remaining_Credit_Limit" type="xs:string" minOccurs="0" />
						<xs:element name="Total_Credit_Limit" type="xs:string" minOccurs="0" />
						<xs:element name="Status" type="xs:string" />
						<xs:element name="Status_Text" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd12" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd12" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="AddonBalance" type="xs:string" />
			<xs:element name="BonusBal" type="xs:string" />
			<xs:element name="Currency" type="xs:string" />
			<xs:element name="DeliveryChannelCtrlID" type="xs:string" />
			<xs:element name="EtopUp_Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns3:MessageType" minOccurs="0" />
						<xs:element ref="ns3:DeliveryChannelCtrlID" minOccurs="0" />
						<xs:element ref="ns3:ProcCode" minOccurs="0" />
						<xs:element ref="ns3:STAN" minOccurs="0" />
						<xs:element ref="ns3:LocalTxnDtTime" minOccurs="0" />
						<xs:element ref="ns3:MobNum" minOccurs="0" />
						<xs:element ref="ns3:Currency" minOccurs="0" />
						<xs:element ref="ns3:ValidityDays" minOccurs="0" />
						<xs:element ref="ns3:GracePeriod" minOccurs="0" />
						<xs:element ref="ns3:OriginalAmount" minOccurs="0" />
						<xs:element ref="ns3:TopUpAmount" minOccurs="0" />
						<xs:element ref="ns3:AddonBalance" minOccurs="0" />
						<xs:element ref="ns3:BonusBal" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GracePeriod" type="xs:string" />
			<xs:element name="LocalTxnDtTime" type="xs:string" />
			<xs:element name="MessageType" type="xs:string" />
			<xs:element name="MobNum" type="xs:string" />
			<xs:element name="OriginalAmount" type="xs:string" />
			<xs:element name="ProcCode" type="xs:string" />
			<xs:element name="STAN" type="xs:string" />
			<xs:element name="TopUpAmount" type="xs:string" />
			<xs:element name="ValidityDays" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubcriberQuery_Response.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/SubcriberQuery_Response.xsd" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
			<xs:element name="ACCOUNT_STATUS" type="xs:string" />
			<xs:element name="ACTIVATION_DATE" type="xs:string" />
			<xs:element name="CALL_PLAN" type="xs:string" />
			<xs:element name="CUSTOMER_STATUS" type="xs:string" />
			<xs:element name="DATA_BALANCE" type="xs:string" />
			<xs:element name="DATA_NIGHT_BALANCE" type="xs:string" />
			<xs:element name="EBILL_MAIL_ID" type="xs:string" />
			<xs:element name="FORFEITED_DATE" type="xs:string" />
			<xs:element name="IMSI" type="xs:string" />
			<xs:element name="LAST_CALL_AMOUNT" type="xs:string" />
			<xs:element name="LIFECYCLE_STATUS" type="xs:string" />
			<xs:element name="MAIN_ACCOUNT_BALANCE" type="xs:string" />
			<xs:element name="MsgParam">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AttribDtl" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="Name" type="xs:string" />
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NOTIFICATION_ID" type="xs:string" />
			<xs:element name="OFFER_NAME" type="xs:string" />
			<xs:element name="OFFNET_BAL" type="xs:string" />
			<xs:element name="ONNET_BAL" type="xs:string" />
			<xs:element name="OUTPUT_1" type="xs:string" />
			<xs:element name="OUTPUT_2" type="xs:string" />
			<xs:element name="OUTPUT_3" type="xs:string" />
			<xs:element name="OUTPUT_4" type="xs:string" />
			<xs:element name="PAYMENT_TYPE" type="xs:string" />
			<xs:element name="PROMOTION_CODE" type="xs:string" />
			<xs:element name="REGISTRATION_DATE" type="xs:string" />
			<xs:element name="RESTRICTED_DATE" type="xs:string" />
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns10:ACCOUNT_NUMBER" minOccurs="0" />
						<xs:element ref="ns10:RESTRICTED_DATE" minOccurs="0" />
						<xs:element ref="ns10:FORFEITED_DATE" minOccurs="0" />
						<xs:element ref="ns10:TERMINATED_DATE" minOccurs="0" />
						<xs:element ref="ns10:LAST_CALL_AMOUNT" minOccurs="0" />
						<xs:element ref="ns10:SOURCE_ID" minOccurs="0" />
						<xs:element ref="ns10:NOTIFICATION_ID" minOccurs="0" />
						<xs:element ref="ns10:DATA_BALANCE" minOccurs="0" />
						<xs:element ref="ns10:DATA_NIGHT_BALANCE" minOccurs="0" />
						<xs:element ref="ns10:LIFECYCLE_STATUS" minOccurs="0" />
						<xs:element ref="ns10:ACCOUNT_STATUS" minOccurs="0" />
						<xs:element ref="ns10:MAIN_ACCOUNT_BALANCE" minOccurs="0" />
						<xs:element ref="ns10:ONNET_BAL" minOccurs="0" />
						<xs:element ref="ns10:OFFNET_BAL" minOccurs="0" />
						<xs:element ref="ns10:SUBSCRIPTION_NUMBER" minOccurs="0" />
						<xs:element ref="ns10:CALL_PLAN" minOccurs="0" />
						<xs:element ref="ns10:SIM" minOccurs="0" />
						<xs:element ref="ns10:IMSI" minOccurs="0" />
						<xs:element ref="ns10:CUSTOMER_STATUS" minOccurs="0" />
						<xs:element ref="ns10:ACTIVATION_DATE" minOccurs="0" />
						<xs:element ref="ns10:REGISTRATION_DATE" minOccurs="0" />
						<xs:element ref="ns10:PROMOTION_CODE" minOccurs="0" />
						<xs:element ref="ns10:PAYMENT_TYPE" minOccurs="0" />
						<xs:element ref="ns10:EBILL_MAIL_ID" minOccurs="0" />
						<xs:element ref="ns10:OUTPUT_1" minOccurs="0" />
						<xs:element ref="ns10:OUTPUT_2" minOccurs="0" />
						<xs:element ref="ns10:OUTPUT_3" minOccurs="0" />
						<xs:element ref="ns10:OUTPUT_4" minOccurs="0" />
						<xs:element ref="ns10:Status_Code" />
						<xs:element ref="ns10:Status_Text" />
						<xs:element ref="ns10:MsgParam" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SIM" type="xs:string" />
			<xs:element name="SOURCE_ID" type="xs:string" />
			<xs:element name="STATUS" type="xs:string" />
			<xs:element name="STATUS_TEXT" type="xs:string" />
			<xs:element name="SUBSCRIPTION_NUMBER" type="xs:string" />
			<xs:element name="Status_Code" type="xs:string" />
			<xs:element name="Status_Text" type="xs:string" />
			<xs:element name="TERMINATED_DATE" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd16" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/Schema.xsd16" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns12:Status" minOccurs="0" />
						<xs:element ref="ns12:Status_Text" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="xs:string" />
			<xs:element name="Status_Text" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT_UAT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT_UAT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="AccountNumber" type="xs:string" />
			<xs:element name="LocalTxnDtTime" type="xs:string" />
			<xs:element name="MSISDN" type="xs:string" />
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns13:MSISDN" minOccurs="0" />
						<xs:element ref="ns13:AccountNumber" minOccurs="0" />
						<xs:element ref="ns13:TransactionId" minOccurs="0" />
						<xs:element ref="ns13:LocalTxnDtTime" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransactionId" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT_UAT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT_UAT/Shared_Resources/Schema/XML/xsd/Selfcare/Schema.xsd2" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="BillingSubscriptionStatus" type="xs:string" />
			<xs:element name="BusinessHourIndicator" type="xs:string" />
			<xs:element name="DepositedAmount" type="xs:string" />
			<xs:element name="DueDate" type="xs:string" />
			<xs:element name="LanguageId" type="xs:string" />
			<xs:element name="MainBalance" type="xs:string" />
			<xs:element name="MessageId" type="xs:string" />
			<xs:element name="NotificationCreditLimit" type="xs:string" />
			<xs:element name="OffNetBal" type="xs:string" />
			<xs:element name="OnNetBal" type="xs:string" />
			<xs:element name="Priority" type="xs:string" />
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns14:BillingSubscriptionStatus" minOccurs="0" />
						<xs:element ref="ns14:TotalBal" minOccurs="0" />
						<xs:element ref="ns14:MainBalance" minOccurs="0" />
						<xs:element ref="ns14:OnNetBal" minOccurs="0" />
						<xs:element ref="ns14:OffNetBal" minOccurs="0" />
						<xs:element ref="ns14:TotalUnbilledUsage" minOccurs="0" />
						<xs:element ref="ns14:TotalOutstandingBalance" minOccurs="0" />
						<xs:element ref="ns14:DueDate" minOccurs="0" />
						<xs:element ref="ns14:TotalUnpaid" minOccurs="0" />
						<xs:element ref="ns14:DepositedAmount" minOccurs="0" />
						<xs:element ref="ns14:NotificationCreditLimit" minOccurs="0" />
						<xs:element ref="ns14:MessageId" minOccurs="0" />
						<xs:element ref="ns14:LanguageId" minOccurs="0" />
						<xs:element ref="ns14:Priority" minOccurs="0" />
						<xs:element ref="ns14:BusinessHourIndicator" minOccurs="0" />
						<xs:element ref="ns14:Status" />
						<xs:element ref="ns14:StatusText" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="xs:string" />
			<xs:element name="StatusText" type="xs:string" />
			<xs:element name="TotalBal" type="xs:string" />
			<xs:element name="TotalOutstandingBalance" type="xs:string" />
			<xs:element name="TotalUnbilledUsage" type="xs:string" />
			<xs:element name="TotalUnpaid" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Abstract_Wsdl/Selfcare/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Abstract_Wsdl/Selfcare/Schema.xsd" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="NonVasRegRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BonusRequest" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TransactionID" type="xs:string" minOccurs="0" />
									<xs:element name="ResponseCode" type="xs:string" minOccurs="0" />
									<xs:element name="ResponseDescription" type="xs:string" minOccurs="0" />
									<xs:element name="MSISDN" type="xs:string" minOccurs="0" />
									<xs:element name="ActionType" type="xs:string" minOccurs="0" />
									<xs:element name="RegistrationKey" type="xs:string" minOccurs="0" />
									<xs:element name="Charge" type="xs:string" minOccurs="0" />
									<xs:element name="HYBRID_FLAG" type="xs:string" minOccurs="0" />
									<xs:element name="Source" type="xs:string" />
									<xs:element name="StartDate" type="xs:string" />
									<xs:element name="EndDate" type="xs:string" />
									<xs:element name="AutoRenewalFlag" type="xs:string" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VasRegRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ServiceRequest" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TransactionID" type="xs:string" minOccurs="0" />
									<xs:element name="Source" type="xs:string" />
									<xs:element name="Charge" type="xs:string" />
									<xs:element name="HYBRID_FLAG" type="xs:string" minOccurs="0" />
									<xs:element name="ResponseCode" type="xs:string" minOccurs="0" />
									<xs:element name="ResponseDescription" type="xs:string" minOccurs="0" />
									<xs:element name="MSISDN" type="xs:string" minOccurs="0" />
									<xs:element name="ActionType" type="xs:string" minOccurs="0" />
									<xs:element name="ServiceType" type="xs:string" minOccurs="0" />
									<xs:element name="CPName" type="xs:string" minOccurs="0" />
									<xs:element name="AutoRenewalFlag" type="xs:string" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/postpaidPayment_Request.xsd16" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/VNM_PROJECT/Shared_Resources/Schema/XML/xsd/EPOS/postpaidPayment_Request.xsd16" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="Customer_Number" type="xs:string" />
			<xs:element name="LocalTxnDtTime" type="xs:string" />
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns11:Source" />
						<xs:element ref="ns11:transactionId" />
						<xs:element ref="ns11:LocalTxnDtTime" />
						<xs:element ref="ns11:accountNumber" minOccurs="0" />
						<xs:element ref="ns11:agencyAccountNumber" minOccurs="0" />
						<xs:element ref="ns11:paymentAmount" minOccurs="0" />
						<xs:element ref="ns11:depositAmount" minOccurs="0" />
						<xs:element ref="ns11:payment_Txt" minOccurs="0" />
						<xs:element ref="ns11:paymentReference" minOccurs="0" />
						<xs:element ref="ns11:paymentType" minOccurs="0" />
						<xs:element ref="ns11:paymentLevel" minOccurs="0" />
						<xs:element ref="ns11:invoiceNumber" minOccurs="0" />
						<xs:element ref="ns11:Customer_Number" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source" type="xs:string" />
			<xs:element name="accountNumber" type="xs:string" />
			<xs:element name="agencyAccountNumber" type="xs:string" />
			<xs:element name="depositAmount" type="xs:string" />
			<xs:element name="invoiceNumber" type="xs:string" />
			<xs:element name="paymentAmount" type="xs:string" />
			<xs:element name="paymentDates" type="xs:string" />
			<xs:element name="paymentLevel" type="xs:string" />
			<xs:element name="paymentReference" type="xs:string" />
			<xs:element name="paymentType" type="xs:string" />
			<xs:element name="payment_Txt" type="xs:string" />
			<xs:element name="transactionId" type="xs:string" />
		</xs:schema>
		<xs:schema xmlns="http://www.tibco.com/schemas/HCPT_PROJECT_01042014/Shared_Resources/Schema/XML/EAI/Schema.xsd6" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tibco.com/schemas/HCPT_PROJECT_01042014/Shared_Resources/Schema/XML/EAI/Schema.xsd6" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<xs:element name="UsageDetailsQueryReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DATE" type="xs:string" />
						<xs:element name="EVENT_TYPE" type="xs:string" minOccurs="0" />
						<xs:element name="MSISDN" type="xs:string" />
						<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="SOURCE" type="xs:string" />
						<xs:element name="FROM_DATE" type="xs:string" minOccurs="0" />
						<xs:element name="TO_DATE" type="xs:string" minOccurs="0" />
						<xs:element name="SUB_TYPE" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UsageDetailsQueryRes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UsageDetails" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="UsageItem" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EventType" type="xs:string" minOccurs="0" />
												<xs:element name="EventCategory" type="xs:string" minOccurs="0" />
												<xs:element name="HomeZoneID" type="xs:string" minOccurs="0" />
												<xs:element name="RoutingType" type="xs:string" minOccurs="0" />
												<xs:element name="RoamingIndicator" type="xs:string" minOccurs="0" />
												<xs:element name="HomeZone" type="xs:string" minOccurs="0" />
												<xs:element name="EventDate" type="xs:string" minOccurs="0" />
												<xs:element name="Duration" type="xs:string" minOccurs="0" />
												<xs:element name="Volume" type="xs:string" minOccurs="0" />
												<xs:element name="A_PartyNumber" type="xs:string" minOccurs="0" />
												<xs:element name="B_PartyNumber" type="xs:string" minOccurs="0" />
												<xs:element name="TimeBand" type="xs:string" minOccurs="0" />
												<xs:element name="A_PartyLocation" type="xs:string" minOccurs="0" />
												<xs:element name="B_PartyLocation" type="xs:string" minOccurs="0" />
												<xs:element name="PreDiscountCost" type="xs:string" minOccurs="0" />
												<xs:element name="PostDiscountCost" type="xs:string" minOccurs="0" />
												<xs:element name="DiscountAmount" type="xs:string" minOccurs="0" />
												<xs:element name="DiscountID" type="xs:string" minOccurs="0" />
												<xs:element name="RoundedDuration" type="xs:string" minOccurs="0" />
												<xs:element name="PreCallBalance" type="xs:string" minOccurs="0" />
												<xs:element name="PostCallBalance" type="xs:string" minOccurs="0" />
												<xs:element name="ContentID" type="xs:string" minOccurs="0" />
												<xs:element name="FlagCallCharge" type="xs:string" minOccurs="0" />
												<xs:element name="MSISDN" type="xs:string" minOccurs="0" />
												<xs:element name="AccountNumber" type="xs:string" minOccurs="0" />
												<xs:element name="CallPlan" type="xs:string" minOccurs="0" />
												<xs:element name="ChargingID" type="xs:string" minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="StatusCode" type="xs:string" />
						<xs:element name="StatusText" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:service name="Selfcare_Inbound">
		<wsdl:port name="SelfcareInbound" binding="tns:SelfcareInboundBinding">
			<soap:address location="http://10.8.8.78:45010/Business_Process/Selfcare" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:portType name="SelfcareInbound">
		<wsdl:operation name="UsageHistory">
			<wsdl:input message="tns:UsageHistoryRequest" />
			<wsdl:output message="tns:UsageHistoryResponse" />
		</wsdl:operation>
		<wsdl:operation name="PostpaidPaymentHistory">
			<wsdl:input message="tns:PaymentHistory_Request" />
			<wsdl:output message="tns:PaymentHistory_Response" />
		</wsdl:operation>
		<wsdl:operation name="Etopup_Selfcare">
			<wsdl:input message="tns:Etopup_Selfcare_Request" />
			<wsdl:output message="tns:Etopup_Seflcare_Response" />
		</wsdl:operation>
		<wsdl:operation name="Vas_Registration">
			<wsdl:input message="tns:VasRegistrationRequest" />
			<wsdl:output message="tns:VasRegistrationResponse" />
		</wsdl:operation>
		<wsdl:operation name="ViewCreditLimit">
			<wsdl:input message="tns:ViewCreditLimit_Request" />
			<wsdl:output message="tns:ViewCreditLimit_Response" />
		</wsdl:operation>
		<wsdl:operation name="HotBilling">
			<wsdl:input message="tns:HotBilling_Request" />
			<wsdl:output message="tns:HotBilling_Response" />
		</wsdl:operation>
		<wsdl:operation name="VoucherTopUp">
			<wsdl:input message="tns:VoucherTopUpRequest" />
			<wsdl:output message="tns:VoucherTopUpResponse" />
		</wsdl:operation>
		<wsdl:operation name="SubscriberQuery">
			<wsdl:input message="tns:SubscriberQuery_Request" />
			<wsdl:output message="tns:SubscriberQuery_Response" />
		</wsdl:operation>
		<wsdl:operation name="PostpaidBillPayment">
			<wsdl:input message="tns:PostpaidPayment_Request" />
			<wsdl:output message="tns:PostpaidPayment_Response" />
		</wsdl:operation>
		<wsdl:operation name="PostpaidBalanceEnquiry">
			<wsdl:input message="tns:PostpaidBalanceEnquiryRequest" />
			<wsdl:output message="tns:PostpaidBalanceEnquiryResponse" />
		</wsdl:operation>
		<wsdl:operation name="PostPaidBilledQuery">
			<wsdl:input message="tns:PostPaidBilledQueryRequest" />
			<wsdl:output message="tns:PostPaidBilledQueryResponse" />
		</wsdl:operation>
		<wsdl:operation name="TopupHistory">
			<wsdl:input message="tns:TopUpHistoryRequest" />
			<wsdl:output message="tns:TopUpHistoryResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SelfcareInboundBinding" type="tns:SelfcareInbound">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="UsageHistory">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/UsageHistory" />
			<wsdl:input>
				<soap:body use="literal" parts="UsageHistoryRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="UsageHistoryResponse" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PostpaidPaymentHistory">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/Selfcare_Inbound.serviceagent//PostpaidPaymentHistory" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Etopup_Selfcare">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/Etopup_Selfcare" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Vas_Registration">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/Selfcare_Inbound.serviceagent//Vas_Registration" />
			<wsdl:input>
				<soap:body use="literal" parts="VasRegistrationRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="VasRegistrationResponse" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ViewCreditLimit">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/ViewCreditLimit" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotBilling">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/HotBilling" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VoucherTopUp">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/VoucherTopUp" />
			<wsdl:input>
				<soap:body use="literal" parts="VoucherTopUpRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="VoucherTopUpResponse" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscriberQuery">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/SubscriberQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PostpaidBillPayment">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/Selfcare_Inbound.serviceagent//PostpaidBillPayment" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PostpaidBalanceEnquiry">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/Selfcare_Inbound.serviceagent//PostpaidBalanceEnquiry" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PostPaidBilledQuery">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/PostPaidBilledQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="Request" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TopupHistory">
			<soap:operation style="document" soapAction="/Business_Process/Selfcare/TopupHistory" />
			<wsdl:input>
				<soap:body use="literal" parts="TopUpHistoryRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="TopUpHistoryResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:message name="UsageHistoryRequest">
		<wsdl:part name="UsageHistoryRequest" element="ns0:UsageDetailsQueryReq" />
	</wsdl:message>
	<wsdl:message name="UsageHistoryResponse">
		<wsdl:part name="UsageHistoryResponse" element="ns0:UsageDetailsQueryRes" />
	</wsdl:message>
	<wsdl:message name="PaymentHistory_Request">
		<wsdl:part name="part1" element="ns1:Request" />
	</wsdl:message>
	<wsdl:message name="PaymentHistory_Response">
		<wsdl:part name="part1" element="ns2:Response" />
	</wsdl:message>
	<wsdl:message name="Etopup_Selfcare_Request">
		<wsdl:part name="part1" element="ns3:EtopUp_Request" />
	</wsdl:message>
	<wsdl:message name="Etopup_Seflcare_Response">
		<wsdl:part name="part1" element="ns4:EtopUp_Response" />
	</wsdl:message>
	<wsdl:message name="VasRegistrationRequest">
		<wsdl:part name="VasRegistrationRequest" element="ns5:VasRegRequest" />
	</wsdl:message>
	<wsdl:message name="VasRegistrationResponse">
		<wsdl:part name="VasRegistrationResponse" element="ns5:VasRegRequest" />
	</wsdl:message>
	<wsdl:message name="ViewCreditLimit_Request">
		<wsdl:part name="part1" element="ns6:Request" />
	</wsdl:message>
	<wsdl:message name="ViewCreditLimit_Response">
		<wsdl:part name="part1" element="ns6:Response" />
	</wsdl:message>
	<wsdl:message name="HotBilling_Request">
		<wsdl:part name="part1" element="ns7:Request" />
	</wsdl:message>
	<wsdl:message name="HotBilling_Response">
		<wsdl:part name="part1" element="ns7:Response" />
	</wsdl:message>
	<wsdl:message name="VoucherTopUpRequest">
		<wsdl:part name="VoucherTopUpRequest" element="ns8:VoucherTopUp" />
	</wsdl:message>
	<wsdl:message name="VoucherTopUpResponse">
		<wsdl:part name="VoucherTopUpResponse" element="ns8:VoucherTopUp" />
	</wsdl:message>
	<wsdl:message name="SubscriberQuery_Request">
		<wsdl:part name="part1" element="ns9:Request" />
	</wsdl:message>
	<wsdl:message name="SubscriberQuery_Response">
		<wsdl:part name="part1" element="ns10:Response" />
	</wsdl:message>
	<wsdl:message name="PostpaidPayment_Request">
		<wsdl:part name="part1" element="ns11:Request" />
	</wsdl:message>
	<wsdl:message name="PostpaidPayment_Response">
		<wsdl:part name="part1" element="ns12:Response" />
	</wsdl:message>
	<wsdl:message name="PostpaidBalanceEnquiryRequest">
		<wsdl:part name="part1" element="ns13:Request" />
	</wsdl:message>
	<wsdl:message name="PostpaidBalanceEnquiryResponse">
		<wsdl:part name="part1" element="ns14:Response" />
	</wsdl:message>
	<wsdl:message name="PostPaidBilledQueryRequest">
		<wsdl:part name="Request" element="ns15:Request" />
	</wsdl:message>
	<wsdl:message name="PostPaidBilledQueryResponse">
		<wsdl:part name="part1" element="ns16:Response" />
	</wsdl:message>
	<wsdl:message name="TopUpHistoryRequest">
		<wsdl:part name="TopUpHistoryRequest" element="ns17:VoucherHistory" />
	</wsdl:message>
	<wsdl:message name="TopUpHistoryResponse">
		<wsdl:part name="TopUpHistoryResponse" element="ns17:VoucherHistory" />
	</wsdl:message>
</wsdl:definitions>